/* Default styles */
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, sans-serif;
  background-color: #02000a;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 180px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 0;
}

.sub-card {
  background-color: #292929;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.sub-card img {
  width: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.sub-card h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.sub-card h3 {
  font-size: 16px;
  margin-bottom: 0;
}

.mb-0 {
  margin-bottom: 0;
}

/* Adjust the sizes and positions of the cards */
.container {
  justify-content: space-between;
  align-items: flex-start;
}

/* Media queries */
@media (max-width: 768px) {
  .card img {
    width: 150px;
  }

  .sub-card img {
    width: 80px;
  }
}

@media (max-width: 480px) {
  .card img {
    width: 120px;
  }

  .sub-card img {
    width: 60px;
  }

  .card,
  .sub-card {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }
}
