body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("akali.jpg");
    background-size: cover;
}

#header {
    background-color: rgba(74, 74, 74, 0);
    padding: 10px;
    text-align: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: rgba(74, 74, 74, 0);
}

#search-box {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 50px;
    padding: 10px;
    width: 500px;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.219);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#search-box input[type="text"] {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
}

#search-box input[type="submit"] {
    background-color: #f2f2f23d;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

#search-box input[type="submit"]:hover {
    background-color: #f2f2f25b;
}

#footer {
    background-color: rgba(74, 74, 74, 0);
    text-align: center;
}

