
body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
}

.card {
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
}

.card img {
  width: 180px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffffff  !important;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 0;
  color: #ffffff  !important;
}

.sub-card {
  background-color: #292929;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.max-card {
  background-color: #292929;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  max-width: 450px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.sub-card img {
  width: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.max-card img {
  width: 120px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.sub-card h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.max-card h2 {
  font-size: 25;
  margin-bottom: 5px;
}

.sub-card h3 {
  font-size: 16px;
  margin-bottom: 0;
}

.max-card h3 {
  font-size: 20px;
  margin-bottom: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.container {
  justify-content: space-between;
  align-items: flex-start;
}

/* Media queries */
@media (max-width: 768px) {
  .card img {
    width: 150px;
  }

  .sub-card img {
    width: 80px;
  }

  .max-card img {
    width: 90px;
  }
}

@media (max-width: 480px) {
  .card img {
    width: 120px;
  }

  .sub-card img {
    width: 60px;
  }

  .max-card img {
    width: 70px;
  }

  .card,
  .sub-card {
    max-width: 100%;
  }

  .mb-0 {
  margin-bottom: 0;
}
}

/* Adjust the sizes and positions of the cards */

.container {
  justify-content: space-between;
  align-items: flex-start;
}

.sub-card {
  flex: 1;
}

.sub-card:nth-child(2) {
  flex: 2;
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }
}

h2 {
  color: aliceblue;
}

h3 {
  color: aliceblue; 
}

